<Project>
	<PropertyGroup>
		<!-- Update this path to match your local steamapps installation -->
		<SteamAppsDir>C:\Program Files (x86)\Steam\steamapps</SteamAppsDir>
		<!-- Sub-directories if you have a really funky file structure -->
		<PlateUpManagedDir>$(SteamAppsDir)\common\PlateUp\PlateUp\PlateUp_Data\Managed</PlateUpManagedDir>
		<PlateUpWorkshopDir>$(SteamAppsDir)\workshop\content\1599600</PlateUpWorkshopDir>
	</PropertyGroup>
</Project>